%h1 Listing snips

%h2 HOME
=snip_get("home")
-if can? :manage,Snip
  %table
    %tr
      %th Name
      %th Body
      %th
      %th
      %th

    - @snips.each do |snip|
      %tr
        %td= snip.name
        %td= snip.body
        %td= link_to 'Show', snip
        %td= link_to 'Edit', edit_snip_path(snip)
        %td= link_to 'Destroy', snip, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Snip', new_snip_path
