= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :short
    = f.input :slug
    = f.input :address
    = f.input :address1
    = f.input :contact
    = f.input :sn
    = f.input :capital
    = f.input :postal
    = f.input :email
    = f.input :website
    = f.input :phone
    = f.input :scopes

  .form-actions
    = f.button :submit
