-title t('.title',name: @company.name,short: @company.to_short),@company.name
-meta :keywords,t('.keywords',name: @company.name,short: @company.to_short)
-meta :description,t('.description',name: @company.name,short: @company.to_short)
-@content_layout = 'company'
-@cls = {overview: "active"}
-meta :robots,"noindex" if params[:version]
%section
  %header.panel-header.row-fluid
    .span11
      .panel-header-coll
        %h2 #{@company.name}
    .span1
  %section.panel-content
    .tb
      .tr
        .td 注册地址:
        .td= @company.address
      .tr
        .td 办公地址:
        .td
          = @company.address1
          %small (邮编 #{@company.postal})
      .tr
        .td 法人代表:
        .td= @company.contact
      .tr
        .td 许可证:
        .td= @company.sn
      .tr
        .td 注册资金:
        .td= @company.capital
      .tr
        .td 官方网站:
        .td=link_to @company.website,@company.website,:rel=>"nofollow",:target=>'_blank'
      .tr
        .td 联系电话:
        .td= @company.phone
    %h3 业务范围
    .entry-content= @company.scopes
    %h3 简介
    .entry-content
      -if @company.content.present?
        =simple_format @company.content
      -else
        暂无简介
    -if can? :edit,@company
      %p.mt1e
        = link_to '编辑', edit_company_path(@company),class: "btn btn-primary"
    .alert
      当前版本号: #{@company.version}
      新版本: #{@company.versions.count + 1 - @company.version} 个
      -if params[:version] or @company.versions.count >= @company.version
        =link_to "查看",company_versions_url

  %header.panel-header.row-fluid
    .span11
      .panel-header-coll
        %h2 #{@company.to_short}营业部
    .span1
  %section.panel-content
    -if @groups.present?
      %ul.filters
        -@groups.each do |s|
          -p = s.province
          -next if p.nil?
          %li
            =link_to p.short_name,province_company_url(p.name_en,@company.slug),:title=>"#{@company.short}#{p.short_name}营业部",:class=>(@province.present? && @province.id == p.id) ? "current" : nil
      .clearfix
    = render :partial => 'stores',:locals=>{:stores=>@stores}
    =link_to "更多 &raquo;".html_safe,company_stores_url(@company.slug),:rel=>'nofollow' if @company.stores_count.present? && @company.stores_count > 10


  -#= render :partial => 'primary'
