-title @company.name
.span9
  %h1= @company.name
  %p
    %b 注册地址:
    = @company.address
  %p
    %b 办公地址:
    = @company.address1
    %small (邮编 #{@company.postal})
  %p
    %b 法人代表:
    = @company.contact
  %p
    %b 许可证:
    = @company.sn
  %p
    %b 注册资金:
    = @company.capital
  %p
    %b 网站:
    = @company.website
  %p
    %b 联系电话:
    = @company.phone
  %p
    %b 业务范围:
    = @company.scopes

  %h3 营业部
  -if @groups.present?
    %ul.filters
      -@groups.each do |s|
        -p = s.province
        -next if p.nil?
        %li
          =link_to p.short_name,province_company_url(p.name_en,@company.slug),:title=>"#{@company.short}#{p.short_name}营业部",:class=>(@province.present? && @province.id == p.id) ? "current" : nil
    .clearfix
  = render :partial => 'stores',:locals=>{:stores=>@stores}
  =link_to "更多 &raquo;".html_safe,company_stores_url(@company.slug),:rel=>'nofollow' if @company.stores_count.present? && @company.stores_count > 10


-if can? :edit,@company
  = link_to 'Edit', edit_company_path(@company)
= render :partial => 'primary'
