!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : t('appname')
    -if content_for? :description
      %meta{:content =>  yield(:description), :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    <!--[if lt IE 9]>
    = javascript_include_tag "html5shiv"
    <![endif]-->
    <!--[if IE 6]>
    = stylesheet_link_tag "ie6"
    <![endif]-->
    = csrf_meta_tags
    = yield(:head)
    = javascript_include_tag "application"
    =javascript_tag "var _hmt = _hmt || [];"
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      -# #jsin
      .container
        -unless @hide_breadcrumbs
          .breadcrumbs
            -#%span.gray 您的位置:
            =breadcrumbs.render :format=>'inline'
      -if @content_layout
        = render file: "layouts/#{@content_layout}"
      -else
        .container
          .content
            .row
              -if @multicol
                .span12
                  = render 'layouts/messages'
                = yield
              -else
                .span12
                  = render 'layouts/messages'
                  = yield
      / ! end of .container
    / ! end of #main
    %footer
      .container
        &copy; 2013 www.lxzq.com
    -if !Rails.env.development?
      .hidden
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/16651975.js"></script>
        <noscript><a href="http://www.51.la/?16651975" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/16651975.asp" style="border:none" /></a></noscript>
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F00ab16cbf1ca6a8de331b3410f90e208' type='text/javascript'%3E%3C/script%3E"));
        </script>
